
@{
    ViewData["Title"] = "Access Denied";
}


<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-9" style="margin:0 auto;">
                @*Page-header start*@
                <div class="page-header card">
                    <div class="card-block text text-center">
                        <h5 class="m-b-10 text text-danger">Access Denied!!!</h5>
                        <p class="text text-info"> You do not have any access to this resource!</p>
                    </div>
                </div>
                <!-- Page-header end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();;"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@*Main-body end*@



