@model EditUserViewModel

@{
    ViewData["Title"] = "Edit User Details";
}


<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-9" style="margin:0 auto;">
                @*Page-header start*@
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Users Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Users" asp-controller="Administration"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-list"></i> Users List
                                </a>

                                <a asp-action="CreateRole" asp-controller="Administration"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-plus"></i> Add New Role
                                </a>

                                <a asp-action="Roles" asp-controller="Administration"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Roles List
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Edit user (@Model.FullName) details</h5>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                    <hr />
                                </div>
                                <div class="card-block">
                                    <div class="col-sm-12 text text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                    <div class="col-lg-6" style="margin: 0 auto;">
                                        <form method="post">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Full Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" asp-for="FullName"
                                                           placeholder="Full Name" required autofocus>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Email</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" asp-for="Email"
                                                           placeholder="Email" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12 text text-center">
                                                    <button type="submit" class="btn btn-mat btn-success mr-2">
                                                        <i class="fa fa-save"></i> Save
                                                    </button>

                                                    <button type="reset" class="btn btn-mat btn-danger">
                                                        <i class="fa fa-times"></i> Cancel
                                                    </button>
                                                </div>
                                            </div>

                                            <hr />

                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <h6>User Roles</h6>
                                                    <hr />
                                                </div>
                                                <div class="col-sm-12">
                                                    @if (Model.Roles.Any())
                                                    {
                                                        <ul class="list-group list-group-flush">
                                                            @foreach (var role in Model.Roles)
                                                            {

                                                                <li class="">
                                                                  <i class="fa fa-check-circle"></i> @role
                                                                </li>

                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <p class="text text-info">None at the moment!</p>
                                                    }
                                                </div>
                                                <div class="col-sm-12 text text-right">
                                                    <a asp-action="ManageUserRoles" asp-route-userId="@Model.Id"
                                                       class="btn btn-mat btn-info" style="color: white;">
                                                        <i class="fa fa-cogs"></i> Manage User Roles
                                                    </a>
                                                </div>
                                            </div>

                                            <hr />

                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <h6>User Claims</h6>
                                                    <hr />
                                                </div>
                                                <div class="col-sm-12">
                                                    @if (Model.Claims.Any())
                                                    {
                                                        <ul class="list-group">
                                                            @foreach (var claim in Model.Claims)
                                                            {

                                                            <li class="">
                                                                <i class="fa fa-check-circle"></i> @claim
                                                            </li>

                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <p class="text text-info">None at the moment!</p>
                                                    }
                                                </div>
                                                <div class="col-sm-12 text text-right">
                                                    <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id"
                                                       class="btn btn-mat btn-info" style="color: white;">
                                                        <i class="fa fa-cogs"></i> Manage User Claims
                                                    </a>
                                                </div>
                                            </div>


                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();;"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@*Main-body end*@


